.book-container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
  height: 540px;
  margin-bottom: 340px;
}

.page {
  width: 1000px;
  height: 540px;
  background: white;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  padding: 2px;
  position: relative;
  text-align: justify;
  font-family: "Georgia", serif;
  font-size: 18px;
  border-radius: 10px;
  transform-origin: left center;
  overflow: hidden; /* Evita que el contenido se desborde */
}

.page-content {
  padding: 20px; /* Ajusta este valor según el espacio que desees */
  overflow-y: auto; /* Permite el desplazamiento vertical si el contenido es muy largo */
  height: calc(100% - 40px); /* Ajusta la altura para tener en cuenta el padding */
}

.controls {
  margin-top: 20px;
  display: flex;
  gap: 15px; /* Espaciado entre botones */
}

button {
  background: linear-gradient(135deg, #d4af37, #b8860b);
  color: white;
  border: none;
  padding: 12px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
}

button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: rgba(255, 255, 255, 0.2);
  transition: all 0.5s ease-in-out;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
}

button:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

button:hover {
  transform: scale(1.05);
  background: linear-gradient(135deg, #ffcc00, #b8860b);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

button:active {
  transform: scale(0.98);
}

button:disabled {
  background: #94779b;
  cursor: not-allowed;
  box-shadow: none;
}


/* Animación de cambio de página */
.flipping {
  animation: flipPage 1s ease-in-out forwards;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-image {
  width: 90%; /* Ajusta según el tamaño deseado */
  max-width: 260px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.large-image {
  width: 150%; /* Ajusta el tamaño según necesites */
  max-width: 500px; /* Establece un tamaño máximo si es necesario */
  transition: transform 0.3s ease-in-out;
}


@keyframes flipPage {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(-90deg);
  }
  100% {
    transform: rotateY(-180deg);
  }
}