/* Estilos globales (si los hay) */
body {
  margin: 0;

  background: #f0f0f0; /* Fondo simple por defecto */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
